a { text-decoration: none !important; }

body { background-color: #121212 !important; }

.card {
    background-color: #1d1d1d !important;
    color: #ffffff !important;
    width: 25em;
}

.row {
    background-color: #1d1d1d !important;
    color: #ffffff !important;
}

.icon { color: #9dbfa1; }

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item { position: relative; }

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.timeline-text { color: #c5eae7; }