/* Element Styling */
body {
  	background-color: #121212;
  	color: #ffffff;
}


/* Class Styling */
.btn:focus {
	box-shadow: none !important;
	outline: none;
}

.btn:hover {
	transform: scale(1.05);
}

.form-control:focus {
	box-shadow: none;
	outline: none;
}

.form-control:hover {
	transform: scale(1.05);
}

.progress {
	background-color: #121212;
	height: 6rem;
}

/*.progress-bar {
	background-color: #ffffff;
	color: #000000;
	width: 0%;
}*/


/* ID Styling */
#accentOne {
	background-color: #3700b3;
}

#candleContainer {
	background-color: #292929;
	overflow-x: auto;
}

#candleDeleteButton {
	background-color: #dc3545;
	border-width: 0rem;
	transition: transform .2s;
	width: 50%;
}

#candleMakeButton {
	background-color: #198754;
	border-width: 0rem;
	transition: transform .2s;
	width: 50%;
}

#fuelBar {
	background-color: #dc3545;
	width: 0%;
}

#layerOne {
	background-color: #1d1d1d;
}

#layerTwo {
	background-color: #292929;
}

#waxBar {
	background-color: #ffffff;
	width: 0%;
}

#waxInputTicker {
	background-color: #363636;
	border-width: 0rem;
	color: #ffffff;
}

#waxInput {
	background-color: #363636;
	border-width: 0rem;
	border-left-width: 0.2rem;
	border-color: #292929;
	color: #ffffff;
	transition: transform .2s;
}